
@import "@styles/base/_reset.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.scss";
@import "@styles/abstracts/_colors.scss";
@import "@styles/abstracts/_variables.scss";

.header {

    @include flex-container(row, nowrap, flex-start, center);
    padding: 0 10vw;

    position: fixed;
    top: 0;
    width: 100vw;
    height: $nav-bar-height;

    backdrop-filter: blur(10px);

    &.blur {

        backdrop-filter: blur(20px);

    }

    .appName {

        @include flex-container(row, nowrap, flex-start, center);
        gap: 10px;

        .logo {
            position: relative;
            width: 30px;
            height: 30px;
        }

        p {
            @include button-text;
            color: $primary;

            @media (max-width: $bp-small) {
                display: none;
            }
        }

    }

}