
@import "@styles/base/_reset.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.scss";
@import "@styles/abstracts/_colors.scss";
@import "@styles/abstracts/_variables.scss";


@mixin only-show-on-mobile {

    @media (min-width: calc($bp-small + 1px)) {
        display: none;
    }

}

.header {

    @include flex-container(row, nowrap, space-between, center);
    padding: 0 10vw;
    gap: 10px;
    z-index: 100;

    position: fixed;
    top: 0;
    width: 100vw;
    height: $nav-bar-height;

    backdrop-filter: blur(40px);

    nav {
        @include flex-container(row, nowrap, flex-end, center);
        gap: 10px;
        width: 100%;

        a {
            @include flex-container(row, nowrap, center, center);
            gap: 10px;
            color: $primary;
        }
    }

}