@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.scss";
@import "@styles/abstracts/_colors.scss";

.container {

    @include flex-container(column, nowrap, center, center);
    padding: 120px 10vw 60px;
    gap: 60px;

    .illustrationContainer {
        position: relative;
        width: 60vw;
        aspect-ratio: 1.5;
        max-height: 40vh;
    }

    .errorMessageContainer {
        @include flex-container(column, nowrap, center, center);
        gap: 10px;

        h2 {
            @include header-2-bold;
            color: $primary;
        }

        p {
            @include text-xl-medium;
            color: $primary-600;
        }
    }

}

