@import "@styles/base/_reset.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.scss";
@import "@styles/abstracts/_colors.scss";
@import "@styles/abstracts/_variables.scss";

.container {

    @include flex-container(column, nowrap, flex-start, flex-start);
    gap: 30px;
    padding: 100px 10vw 60px;
    overflow: scroll;

    .goBackContainer {
        @include flex-container(row, nowrap, flex-start, center);
        gap: 20px;
        width: 100%;

        p {
            @include text-md-medium;
            color: $primary;
        }
    }

    .pageHeader {
        @include flex-container(row, wrap, space-between, center);
        width: 100%;
        color: $primary;
        column-gap: 30px;

        .pageTitle {
            @include flex-container(row, nowrap, flex-start, center);
            gap: 20px;
            font-size: 30px;

            h1 {
                @include header-1-bold;
            }
        }

        .priceInfo {
            @include text-xl-medium;
        }

    }

    .formContainer {
        
        @include flex-container(column, nowrap, flex-start, flex-start);
        gap: 30px;
        width: 100%;

        .sectionTitle {

            @include flex-container(column, nowrap, flex-start, flex-start);
            gap: 10px;
            width: 100%;

            h3 {
                @include header-3-bold;
                color: $primary;
            }
    
            p {
                @include text-xl-medium;
                color: $primary-600;
            }

        }

        form {
            @include flex-container(column, nowrap, flex-start, center);
            gap: 30px;
            width: 100%;

            .cardInfo {

                @include flex-container(row, nowrap, flex-start, center);
                width: 100%;
                gap: 10px;

                .secondaryInfo {
                    @include flex-container(row, nowrap, flex-start, center);
                    width: 100%;
                    gap: 10px;
                }

                @media (max-width: $bp-small) {
                    flex-flow: row wrap;
                }

            }

            .illustration {
                margin: 4rem 0;
                position: relative;
                aspect-ratio: 1;
                width: 30vw;
            }

        }

    }


}