@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.scss";
@import "@styles/abstracts/_colors.scss";
@import "@styles/abstracts/_variables.scss";

.appName {

    @include flex-container(row, nowrap, flex-start, center);
    gap: 10px;

    &:hover {
        cursor: pointer;
    }

    .logo {
        position: relative;
        width: 30px;
        height: 30px;
    }

    a {
        @include text-xl-bold;
        color: $primary;
    }

}